
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button id ="btnJsonTest">取得 JosnTest 資料</button>
@section Scripts{
    <script>
        $('#btnJsonTest').bind('click', function () {
            $.getJSON('/AR/JsonTest', '', function (data) {
                         console.log(data);
                })
          });
    </script>
}

