@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    if (Request.IsAuthenticated) { 
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">@User.Identity.Name</a>
        <li>
            <a href="/Member/Logout">登出</a>
        </li>
    </ul>
    }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">       
        <li>@Html.ActionLink("登入", "Login", "Member")</li>
    </ul>
}
