@section breadcrumb {
   <li><a href="#">@ViewBag.Title</a></li>
  }


@{
    ViewBag.Title = "About";
    
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.執行時間</h3>

    <p>sandy Use this area to provide additional information.</p>
